
/*-------------------*/
/*   Slider (books)  */
/*-------------------*/
#slider {
    width: 620px;
    margin: 50px auto;
    position: relative;
}

#slider div.scroll {
    height: 300px;
    width: 620px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
/*    background: none;*/
    background: #FFF url(../img/slider/content_pane_bg.gif) repeat-x scroll left bottom;
}

#slider div.scroll_container div.panel {
    padding: 20px;
    height: 260px;
    width: 580px;
    overflow: hidden;
}

#slider div#shade {
    background: #FFF url(../img/slider/shade.gif) no-repeat 0 0;
    height: 50px;
}

#slider ul.navigation {
    list-style: none;
    margin: 0;
    margin-left: 0em;
    padding: 0;
    padding-bottom: 9px;
}

#slider ul.navigation li {
    display: inline;
    margin: 0px;

}

#slider ul.navigation a {
    padding: 10px;
    color: #000;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

#slider ul.navigation a:hover {
    background-color: #e5e5e5;
    outline: none;
    border: 1px solid #e5e5e5;
}

#slider ul.navigation a.selected {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

#slider ul.navigation a:focus {
    outline: none;
}

#slider .scroll_buttons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

#slider .scroll_buttons.left {
    left: -50px;
}

#slider .scroll_buttons.right {
    right: -50px;
}

#slider h3.title {
    float: left;
    width: 380px;

}

#slider .description {
    clear: both;
}

#slider .author {
    font-weight: bold;
    font-style: italic;
}

#slider div.book_info {
    font-size: 0.75em;
    float: right;
}

.hide {
    display: none;
}

#slider div.book_options {
    float: left;
    padding: 0;
    margin: 0;
}

#slider div.book_options form {
    margin: 10px 0px;
    width: 100%;
}
>>>>>>> develop
